.login {
    width: 600px;
    height: 470px;
    border-radius: 8px;
    box-shadow: 0 3px 2px 0 rgba(188, 188, 188, 0.3);
    background-color: #ffffff;
    margin: 16px auto;
    text-align: center;
}
